<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438820359428-um78ctamr85iaccjho5jr3vjfejgh28q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438820359428-um78ctamr85iaccjho5jr3vjfejgh28q</string>
	<key>API_KEY</key>
	<string>AIzaSyCH5qXvfYMxPiwVbON4LLHOl7ihU92hqW0</string>
	<key>GCM_SENDER_ID</key>
	<string>438820359428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakis.Spendy</string>
	<key>PROJECT_ID</key>
	<string>spendy-c705b</string>
	<key>STORAGE_BUCKET</key>
	<string>spendy-c705b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438820359428:ios:40d3554f31eff142921451</string>
	<key>DATABASE_URL</key>
	<string>https://spendy-c705b.firebaseio.com</string>
</dict>
</plist>